@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
}

#root {
  font-family: "League Spartan", sans-serif;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

p {
  margin: 10px;
}

.list-root {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #37051a,
    #340422,
    #2d062a,
    #220932,
    #0e0e39
  );
}
.name-model {
  color: rgb(206, 214, 221);
  display: inline-block;
}

.filter-form {
  display: inline-block;
}

.no-match {
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  height: fit-content;
  flex-wrap: wrap;
}

.item-container {
  color: rgb(240, 248, 255);
  width: 250px;
  height: 250px;
  background-color: rgba(14, 13, 13, 0.638);
  margin: 10px;
  border-radius: 40px;
  box-shadow: 0 0 8px 2px rgba(102, 98, 98, 0.2);
}

.ship-image {
  margin-top: 2px;
  height: 48%;
  width: 245px;
  border-radius: 40px;
}

.ship-image-detail {
  margin-top: 2px;
  height: 48%;
  width: 400px;
  border-radius: 40px;
}

.popup-container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 40rem;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border: 1rem double #000000;
}

.detail-goback {
  color: #000;
  border-color: #000;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
a.detail-goback {
  background-color: #000;
  color: rgb(206, 214, 221);
}

a {
  color: rgb(206, 214, 221);
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid aliceblue;
  border-radius: 10px;
  transition: all 0.3s ease;
}

a:hover {
  background-color: aliceblue;
  color: #37051a;
}

button {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}
input {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #000000;
  font-size: 1rem;
  height: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 200px;
  transition: box-shadow 0.3s ease;
}

input:focus {
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img {
  margin-bottom: 10px;
}

.ship-att {
  margin-top: 20px;
}

.lds-hourglass-container {
  height: 100vh;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.loadmore-btn {
  font-size: small;
  font-weight: bold;
  margin-bottom: 1rem;
}
